* {
  margin: 0;
}
.app-container {
  display: flex;
  width: 100%;
}
.left-container,
.right-container {
  width: 50%;
}
.left-container {
  background-color: #ffc533;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.no-character-container {
  background-color: #ffbf1f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 60vh;
}
.no-user-img {
  width: 100%;
  max-width: 550px;
}
.heading {
  font-family: 'Roboto';
  font-size: 52px;
  font-weight: bold;
  color: #272c47;
  padding: 70px 50px;
}
.char-count {
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: bold;
  color: #1e293b;
}
.right-container {
  background-color: #0f172a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}
.desc {
  font-family: 'Roboto';
  font-size: 36px;
  font-weight: bold;
  color: #ffc533;
  padding: 40px 20px;
}
.input-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
.text-input {
  background-color: #ffffff;
  border: none;
  outline: none;
  border-radius: 5px;
  height: 40px;
  width: 100%;
  max-width: 400px;
  padding: 0 10px;
  font-family: 'Roboto';
  font-size: 18px;
  color: #475569;
  cursor: pointer;
}
.add-button {
  border-radius: 5px;
  background-color: #ffbf1f;
  border: none;
  outline: none;
  height: 40px;
  padding: 0 20px;
  font-family: 'Roboto';
  font-size: 16px;
  color: #272c47;
  cursor: pointer;
}
.character-counter-container {
  background-color: #ffbf1f;
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  height: 60vh;
  list-style-type: none;
}
